.home-container {
  width: 100%;
  position: relative;
  background-color: transparent;
}

.home-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.home-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.section-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}


